<h2>User 一覧</h2>
<table>
    <thead>
    <tr>
        <th>LoginID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach(user => { %>
        <tr>
            <td>
                <a href="<%= `/users/${user._id}` %>">
                    <%= user.loginId %>
                </a>
            </td>
            <td>
                <%= user.userName %>
            </td>
            <td>
                <a href="<%= `/users/${user._id}/edit` %>">
                    Edit
                </a>
            </td>
            <td>
                <a href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
                   onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>